/* CSS for Oak Studio Official Website */

body {
    background-color: rgb(222, 242, 242);
    font-family: MiSans;
    margin: 0;
    padding: 0;
    padding-top: 45px;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;
}

.header {
    background-color: rgb(255, 255, 255);
    height: 45px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    margin: 0, auto;
    overflow: hidden;
}

.header b {
    font-size: 16px;
    margin: 0;
    margin-left: 20px;
    padding: 0;
    text-align: center;
    line-height: 45px;
    display: inline-block;
}

.header a {
    color: rgb(102, 102, 102); 
    margin-left: 15px;
}

.header-right {
    font-size: 16px;
    margin: 0;
    margin-right: 20px;
    padding: 0;
    text-align: center;
    line-height: 45px;
    display: block;
    float: right;
}

.header-right a {
    transition: transform 0.5s ease;
}

.header-right a:hover img {
    transform: scale(1.1);
}

.header-right img {
    padding-top: 12px;
}

@keyframes colorChange {
    0% { color: rgb(0, 139, 139); }    /* 深绿色 */
    9.09% { color: rgb(0, 191, 255); }   /* 深浅绿色混合，接近青色 */
    18.18% { color: rgb(30, 144, 255); } /* 浅绿色混合，接近青色 */
    27.27% { color: rgb(34, 139, 34); }   /* 深绿色 */
    36.36% { color: rgb(107, 142, 35); }  /* 浅绿色 */
    45.45% { color: rgb(30, 144, 255); } /* 浅绿色混合，接近青色 */
    54.55% { color: rgb(0, 139, 139); }    /* 深绿色 */
    63.63% { color: rgb(128, 128, 0); }    /* 深黄色 */
    72.72% { color: rgb(30, 144, 255); } /* 浅绿色混合，接近青色 */
    81.81% { color: rgb(0, 191, 255); }    /* 深浅绿色混合，接近青色 */
    100% { color: rgb(0, 139, 139); }   /* 深绿色 */
}

.main {
    margin: 10px;
}


.content {
    text-align: center;
}

.content h1 {
    padding-top: 20px;
}

.get-code {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

.get-code-main {
    text-align: center;
}

.get-code-top {
    text-align: center;
}

.select-box {
    background-color: rgba(172, 220, 255, 0.5);
    border-radius: 10px;
    padding: 10px;
    max-width: 333px;
    margin: 0 auto;
}

.get-code-bottom {
    text-align: center;
}

.get-code-bottom img {
    max-width: 45%;
}

/* 按钮/小框居中 */
.centerpst {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
}

/* 按钮样式 */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color:rgb(142, 165, 228);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    margin: 5px;
}
/* 结束 */

.footer {
    text-align: center;
    color: #7a7a7a;
}